<tr>
  <td>
    <table>
    <% paragraph_match.source_paragraphs.each do |p| %>
      <tr>
      <td>
        <%= p.position %>
      </td>
      <td <%= h (zip_info['ignored_source_ids'].include? p.id) ? "class=\"skippedParagraph\"" : '' %> >
        <td class="<%= "skippedParagraph" if zip_info['ignored_source_ids'].include? p.id %>" >
        <%= p.content %>
      </td>
      </tr>
    <% end %>
    </table>

  </td>
  <td>
    <table>
    <% paragraph_match.target_paragraphs.each do |p| %>
      <tr>
      <td>
        <%= p.position %><br/>
      </td>
      <td class="<%= "skippedParagraph" if zip_info['ignored_target_ids'].include? p.id %>" >
        <%= p.content %>
      </td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>
