<tr>
  <td>
    <table>
    <% paragraph_match.paragraphs_source.each do |p| %>
      <tr>
      <td>
        Position: <%= p.position %><br/>
        Merge with prev: <%= check_box_tag 'chapter_zip[zip_info][source][attach_ids][]', p.id,
          (zip_info['source']['attach_ids'].include?(p.id)) -%>
      </td>
      <td><%= p.content %></td>
      </tr>
    <% end %>
    </table>

  </td>
  <td>
    <table>
    <% paragraph_match.paragraphs_target.each do |p| %>
      <tr>
      <td>
        Position: <%= p.position %><br/>
        Merge with prev: <%= check_box_tag 'chapter_zip[zip_info][target][attach_ids][]', p.id,
          (zip_info['target']['attach_ids'].include?(p.id)) -%>
      </td>
      <td><%= p.content %></td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>
