<h2> Edit chapter zip </h2>
<p>
<%= link_to "Book zips", book_zips_path %> /
<%= link_to @chapter_zip.book_zip.title, book_zip_path(@chapter_zip.book_zip) %> /
<%= @chapter_zip.source_chapter.title + ' - ' + @chapter_zip.target_chapter.title%>
</p>

<%= form_with model: [@chapter_zip.book_zip, @chapter_zip] do |form| %>
  <div>
    <%= form.label :start_position_source %><br>
    <%= form.number_field :start_position_source %>
  </div>
  <div>
    <%= form.label :end_position_source %><br>
    <%= form.number_field :end_position_source %>
  </div>
  <div>
    <%= form.label :start_position_target %><br>
    <%= form.number_field :start_position_target %>
  </div>
  <div>
    <%= form.label :end_position_target %><br>
    <%= form.number_field :end_position_target %>
  </div>
  <div>
    <%= form.label :position %><br>
    <%= form.number_field :position %>
  </div>
  <table border=1>
    <tr>
      <th> Source </th>
      <th> Target </th>
    </tr>
  <%= render partial: "paragraph_match",
    collection: @chapter_zip.paragraph_matches, locals: {
    form: form,
    zip_info: @chapter_zip.zip_info}
  %>
  </table>


  <div>
    <%= form.submit %>
  </div>
<% end %>
