<% content_for :head do %>
  <%= javascript_tag do %>
    let chapterZip
    chapterZip = <%= raw(@chapter_zip.matching_editor_data.to_json) %>
  <% end %>
  <%= javascript_include_tag "chapterzip-editor", defer: true %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with(
  url: update_matching_book_zip_chapter_zip_path(@chapter_zip.book_zip, @chapter_zip),
  method: :post,
  data: {turbo: false}
) do |form| %>
  <div id='chapterzip-editor'>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
