<h2> Edit chapter zip </h2>
<p>
<%= link_to @chapter_zip.book_zip.title, book_zip_path(@chapter_zip.book_zip) %> /
<%= @chapter_zip.source_chapter.title + ' - ' + @chapter_zip.target_chapter.title%>
</p>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: [@chapter_zip.book_zip, @chapter_zip] do |form| %>
  <div class="field">
    <%= form.label :start_position_source %>
    <%= form.number_field :start_position_source %>
  </div>
  <div class="field">
    <%= form.label :end_position_source %>
    <%= form.number_field :end_position_source %>
  </div>
  <div class="field">
    <%= form.label :start_position_target %>
    <%= form.number_field :start_position_target %>
  </div>
  <div class="field">
    <%= form.label :end_position_target %>
    <%= form.number_field :end_position_target %>
  </div>
  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>
  <div class="actions">
    <%= form.submit data: { turbo_confirm: "Warning! Matching will be regenerated" } %>
  </div>
<% end %>
<%= link_to 'Edit matching',
  edit_matching_book_zip_chapter_zip_path(@chapter_zip.book_zip, @chapter_zip),
  data: {turbo: false}
%>
<% if @chapter_zip.build_next_chapter_allowed? %>
  <%= link_to 'Build next chapter',
    new_book_zip_chapter_zip_path(
      @chapter_zip.book_zip, prev_chapter_id: @chapter_zip.id
    )
  %>
<% end %>
<table border=1>
  <tr>
    <th> Source </th>
    <th> Target </th>
  </tr>
<%= render partial: "paragraph_match",
  collection: @chapter_zip.paragraph_matches,
  locals: {zip_info: @chapter_zip.zip_info}
%>
</table>
