<% content_for :head do %>
  <%= javascript_tag do %>
    let chapterZip
    chapterZip = <%= raw(@chapter_zip.matching_editor_data.to_json) %>
  <% end %>
  <%= javascript_include_tag "chapterzip-editor", defer: true %>
<% end %>

<h2> Edit chapter zip </h2>
<p>
<%= link_to @chapter_zip.book_zip.title, book_zip_path(@chapter_zip.book_zip) %> /
<%= @chapter_zip.source_chapter.title + ' - ' + @chapter_zip.target_chapter.title%>
</p>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: [@chapter_zip.book_zip, @chapter_zip] do |form| %>
  <div class="field">
    <%= form.label :start_position_source %>
    <%= form.number_field :start_position_source %>
  </div>
  <div class="field">
    <%= form.label :end_position_source %>
    <%= form.number_field :end_position_source %>
  </div>
  <div class="field">
    <%= form.label :start_position_target %>
    <%= form.number_field :start_position_target %>
  </div>
  <div class="field">
    <%= form.label :end_position_target %>
    <%= form.number_field :end_position_target %>
  </div>
  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>
  <div class="actions">
    <%= form.submit data: { turbo_confirm: "Warning! Matching will be regenerated" } %>
  </div>
<% end %>

<% next_chapter_message = @chapter_zip.next_chapter_message %>
<% if next_chapter_message %>
  <%= next_chapter_message %>
<% else %>
  <%= link_to 'Build next chapter',
    new_book_zip_chapter_zip_path(
      @chapter_zip.book_zip, prev_chapter_id: @chapter_zip.id
    ),
    data: {turbo: false}
  %>
<% end %>

<%= form_with(
  url: update_matching_book_zip_chapter_zip_path(@chapter_zip.book_zip, @chapter_zip),
  method: :post,
  data: {turbo: false}
) do |form| %>
  <div id='chapterzip-editor'>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%#<table border=1>%>
  <%#<tr>%>
    <%#<th> Source </th>%>
    <%#<th> Target </th>%>
  <%#</tr>%>
<%#<%= render partial: "paragraph_match",%>
  <%#collection: @chapter_zip.paragraph_matches,%>
  <%#locals: {zip_info: @chapter_zip.zip_info}%>
  <%#%>
<%#</table>%>
