<h1> New chapter zip </h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: [@chapter_zip.book_zip, @chapter_zip] do |form| %>
  <div class="field">
    <%= form.label :source_chapter %>
    <%= form.collection_select :source_chapter_id, @chapter_zip.book_zip.ebook_source.chapters, :id, :title_with_position_and_len %>
  </div>

  <div class="field">
    <%= form.label :target_chapter %>
    <%= form.collection_select :target_chapter_id, @chapter_zip.book_zip.ebook_target.chapters, :id, :title_with_position_and_len  %>
  </div>
  <div class="field">
    <%= form.label :start_position_source %>
    <%= form.number_field :start_position_source %>
  </div>
  <div class="field">
    <%= form.label :end_position_source %>
    <%= form.number_field :end_position_source %>
  </div>
  <div class="field">
    <%= form.label :start_position_target %>
    <%= form.number_field :start_position_target %>
  </div>
  <div class="field">
    <%= form.label :end_position_target %>
    <%= form.number_field :end_position_target %>
  </div>
  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>
  <div class="field">
    <%= form.hidden_field :book_zip_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
