<h1> Edit Epub book</h1>

<%= form_with model: @epub_book do |form| %>
  <div class="field">
    <%= form.label :book %>
    <%= form.collection_select :book_id, Book.all, :id, :title %>
  </div>
  <div class="field">
    <%= form.label :language %>
    <%= form.collection_select :language_id, Language.all, :id, :name %>
  </div>
  <div class="field">
    <%= form.label :content_location %>
    <%= form.text_field :content_location %>
  </div>
  <div class="field">
    <%= form.label :title_xpaths %>
    <%= form.text_field :title_xpaths_text %>
  </div>
  <div class="field">
    <%= form.label :custom_update_title %>
    <%= form.select :custom_update_title, custom_update_title_options %>
  </div>

  <div class="field">
    <%= form.label :content_tag %>
    <%= form.text_field :content_tag %>
  </div>
  <div class="field">
    <%= form.label :excluded_content_tag %>
    <%= form.text_field :excluded_content_tag %>
  </div>
  <div class="field">
    <%= form.label :start_position %>
    <%= form.number_field :start_position %>
  </div>
  <div class="field">
    <%= form.label :end_position %>
    <%= form.number_field :end_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
