<h1> Edit Epub book parsing options</h1>

<%= form_with model: @epub_book do |form| %>
  <div>
    <%= form.label :content_location %><br>
    <%= form.text_field :content_location %>
  </div>
  <div>
    <%= form.label :title_tags %><br>
    <%= form.text_field :title_tags_text %>
  </div>

  <div>
    <%= form.label :content_tag %><br>
    <%= form.text_field :content_tag %>
  </div>
  <div>
    <%= form.label :excluded_content %><br>
    <%= form.text_field :excluded_content %>
  </div>
  <div>
    <%= form.label :start_position %><br>
    <%= form.number_field :start_position %>
  </div>
  <div>
    <%= form.label :end_position %><br>
    <%= form.number_field :end_position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
