<h1>Epub book</h1>
<p><%= @epub_book.title %>
<%= link_to "Edit", edit_epub_book_path(@epub_book) %>
<%= link_to ("Chapters (" + @epub_book.chapters.count.to_s + ")"),
  epub_book_chapters_path(@epub_book) %>
<%= link_to "Ignored paragraphs", filter_paragraphs_epub_book_path(@epub_book) %>
<%= link_to "Destroy", epub_book_path(@epub_book),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?" } %>
<%= button_to "Create chapters", create_chapters_epub_book_path(@epub_book)%>
</p>

<p> Parsing options:
<ul>
  <li>Content location: <%= @epub_book.content_location %> </li>
  <li>Title xpaths: <%= @epub_book.title_xpaths_text %> </li>
  <li>Content tag: <%= @epub_book.content_tag %> </li>
  <li>Custom update title: <%= @epub_book.custom_update_title %> </li>
  <li>Excluded content tag: <%= @epub_book.excluded_content_tag %> </li>
  <li>Start position: <%= @epub_book.start_position %> </li>
  <li>End position: <%= @epub_book.end_position %> </li>
</ul>
</p>

Epub items:

<ul>
  <% @epub_book.epub_items.each do |epub_item| %>
    <li>
      <%= epub_item.position %> -
      <%= link_to epub_item.name, epub_book_epub_item_path(@epub_book, epub_item) %>
      (<%= epub_item.body_text[..250] + '...' %>)
    </li>
  <% end %>
</ul>
