<!DOCTYPE html>
<html>
  <head>
    <title>BookZipper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= yield(:head) %>
  </head>

  <body>
    <div class='navbar'>
    <%= link_to "Epub books", epub_books_path %>
    <%= link_to "Book zips", book_zips_path %>
    <%= link_to "Books", books_path %>
    <%= link_to "Authors", authors_path %>
    <%= link_to "Languages", languages_path %>
    </div>
    <%= yield %>
  </body>
</html>
