<!DOCTYPE html>
<html>
  <head>
    <title>BookZipper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
    <%= link_to "Books", epub_books_path %>
    <%= link_to "Book zips", book_zips_path %>
    </div>
    <%= yield %>
  </body>
</html>
